@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=MedievalSharp&family=Petit+Formal+Script&display=swap');
/*  font-family: 'Bubblegum Sans', sans-serif;

    font-family: 'MedievalSharp', cursive;

    font-family: 'Petit Formal Script', cursive; */


* {
    margin: 0;
    padding: 0;
}

html, body { 
    background-image: linear-gradient(180deg, salmon, 65%, #7851a9);
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Bubblegum Sans', sans-serif;
    overflow: auto;
}


.contact header {
    justify-content: space-between;
    padding: 3%;
    text-align: center;
    top: 0;
    font-size: 24pt;
}

.contact footer {
    justify-content: space-between;
    padding: 2%;
    border-top: purple solid 2px;
}

.contact footer p {
    padding: 2%;
}

.contact footer q {
    padding: 3%;
}


#conC {
    justify-content: space-between;
    padding: 1rem;
    flex-grow: 1;
    text-align: center;
}

#conC p {
    padding: 1rem;
}

#conC img {
    width: 35vh;
}