@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=MedievalSharp&family=Petit+Formal+Script&display=swap');
/*  font-family: 'Bubblegum Sans', sans-serif;

    font-family: 'MedievalSharp', cursive;

    font-family: 'Petit Formal Script', cursive; */

* {
    margin: 0;
    padding: 0;
}

html, body {
    background-image: linear-gradient(180deg, salmon 50%, purple 100%);
    font-family: 'Bubblegum Sans', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#homeHeader {
    text-align: center;
    padding: 1rem;
}

#homeFooter {
    padding: 1rem;
    margin-top: auto;
    border-top: purple solid 2px;
}

#homeFooter p {
    padding: 2%;
}

#homeFooter q {
    padding: 3%;
}

#content {
    padding: 1rem;
    text-align: center;
    flex-grow: 1;
}

#content p {
    line-height: 2rem;
}

#content img {
    width: 50vw;
}