---
import './about.css'
import Navbar from '../components/Navbar.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="src/images/LiveMauiReaction.jpg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Hi! I'm Santi</title>

	</head>

	<div class="home">

		<header>
			<h1>Contact Santi</h1>
		</header>

		<Navbar />

		<section class="content">

            <h2>Get in touch</h2>

            <p>Feel free to reach out to me on any of the following platforms:</p>

            <img src="src/images/LiveMauiReaction.jpg" alt="LiveMauiReaction">

            
			
		</section>

		<footer>
			<ul>
				<li><a href="http://facebook.com/santyizhere">Facebook</a></li>
				<li><a href="http://instagram.com/santyizhere">Instagram</a></li>
			</ul>
			<q>Actively trying to do better.</q>
			<p>Santi Corp. &copy 2024</p>
		</footer>

	</div>

</html>
