---
import '../styles/contact.css'
import Navbar from '../components/Navbar.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../images/LiveMauiReaction.jpg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Hi! I'm Santi</title>

	</head>

	<body class="contact">

		<header id='conH'>
			<h1>Contact Santi</h1>
		</header>

		<Navbar />

		<section id="conC">

            <p>Feel free to contact me on any of my socials.</p>

            <img src="../images/LiveMauiReaction.jpg" alt="Santi">
			
		</section>

		<footer id='conF'>
			<q>Actively trying to do better.</q>
			<p>Santi Corp. &copy 2024</p>
		</footer>

	</body>

</html>
