---
import './index.css'
import Navbar from '../components/Navbar.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../images/IMG_5804.JPG" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Hi! I'm Santi</title>

	</head>

	<div class="home">

		<header>
			<h1>Hi, I'm Santi</h1>
		</header>

		<Navbar />

		<section class="content">
			<p>Hi I'm Santi, and I like Fortnite, Pokemon TCG, and Casinos.</p>
			<p>I like eating Cheetos, Burger King and sometimes Tamales.</p>
			<img src="../images/IMG_5804.JPG" alt="Fortnite Santi" />
		</section>

		<footer>
			<q>Actively trying to do better.</q>
			<p>Santi Corp. &copy 2024</p>
		</footer>

	</div>

</html>
