---

---

<style>

    nav {
        padding: 1rem;
    }

    nav ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        gap: 1rem;
        justify-content: center;
    }

    nav ul li a {
        text-decoration: none;
        padding: 1rem;
    }

    nav ul li a:hover {
        background-color: purple;
        border: 10px;
        color: lightpink;
    }

    nav ul li a:active {
        background-color: purple;
        border: 10px;
        color: yellow;
    }

</style>


<nav>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Santi</a></li>
        <li><a href="/contact">Contact Santi</a></li>
    </ul>

</nav>